main {
    margin-inline: 1.4rem;
    /* border: 1px solid red; */
}

.taskForm {
    margin-top: -1.7rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.taskForm input {
    width: 100%;
    background: var(--gray-500);
    border:0;    
    width: 40rem;
    height: 3.375rem;
    padding: 1rem;
    border-radius: 8px;
    color: var(--gray-300);
    line-height: 1.4;    
}

.taskForm button {
    width: 5.625rem;
    height: 3.375rem;
    background: var(--blue-dark);
    color: var(--gray-100);
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.4;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    transition: background-color 0.1s;
}

.taskForm button:not(:disabled):hover {
    background: var(--blue);
}

.taskForm button:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

.contentsBox {    
    max-width: 46rem;    
    margin-top: 4rem;
    margin-inline: auto;    
}

.boxHeader {
    margin-bottom: 1.5rem;

    display: flex;
    justify-content: space-between;    
}

.boxHeader h1, 
.boxHeader h2 {
    font-size: 0.875rem;
}

.boxHeader h1 {    
    color: var(--blue);
}

.boxHeader h2 {    
    color: var(--purple);
}

.boxHeader strong {
    font-size: 0.75rem;
    background: var(--gray-400);
    padding: 0.125rem 0.5rem;
    border-radius: 62.5rem;
}

.createdTasks,
.concludedTasks {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

@media (max-width: 540px) {
    html {
        font-size: 75%;
    }
}